*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
}

html, body {
  position: relative;
  box-sizing: inherit;
  color: #393D3F;
}

body {
  display: grid;
  grid-template-rows: minmax(0, max-content) 1fr minmax(0, max-content);
  width: 100dvw;
  height: 100dvh;
  font-size: clamp(20px, 1.0vw, 32px);
  z-index: 1;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.0rem;
}

small {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
}

strong, b {
  font-weight: 600;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  font-size: 0.8rem;
  color: red;
  padding-left: 1ch;
}

ul, ol, li {
  list-style: none !important;
  margin-bottom: 0;
}
